.destination{
    margin: 1rem 6rem;
}
.destination h1{
    font-size: 2.5rem;
    text-align: center;

}
.destination  p{
    text-align: center;
    font-size: 1.2rem;
}
.first-de{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 4.5rem;

}
.image img{
    width: 49%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 5px 5px 10px rgb(3, 15, 20);
}
.image img:nth-child(2){
    position: absolute;
    top: -10%;
    right: 0;


}
.image{
    position: relative;
    width: 50%;
    display: flex;
    justify-content: space-between;

}
.des-text{
    width: 45%;
    font-size: 1.2rem;
    text-align: start;
}
.des-text h2{
    padding-bottom: 1.5rem;
}



/* for 2nd destination data */


.first-de-2nd{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    margin-top: 4.5rem;

}
@media screen and (max-width:850px) {
    .destination{
        margin: 2rem 3rem;
    }
    .destination h1{
        font-size: 2rem;
        text-align: center;
    
    }
    .destination  p{
        text-align: center;
        font-size: 1rem;
        color: rgb(125, 40, 40);
    }
    .first-de{
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;
        margin-top: -1.5rem;
    
    }
    .des-text{
        width: 100%;
        font-size: 1rem;
        text-align: start;
    }
    .image img{
        height: 250px;
    }
    .image{
        width: 100%;
        margin-top: 3rem;
        margin-left: 1rem;
    }
    .des-text h2{
        text-align: center;
        padding-bottom: .5rem;
    }
    .first-de-2nd{
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;
        margin-top: -1.5rem;
    
    }
}

/* for 2nd destination data */
/* .first-de-2nd{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    margin-top: 4.5rem;

} */